html{
    background-image: url(../static-media/bg-index.jpg) !important ;
    overflow: hidden;
    font-family: 'Major Mono Display', monospace !important;
    color: rgb(255, 255, 255);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}


.my_name{
    text-align: center;
    font-size: 8rem;
    margin-bottom: 0;
    margin-top: 0;
}

.out-links{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: ease-in-out 1s;
    
}
.out-link{
    padding: 0 1rem;
    transition: ease-in-out 1s;
}

.out-link:hover{
    color: rgba(244,189,48,255);
}

a{
    color: rgb(255, 255, 255);
}

.tv{
    z-index: 2;
    position: absolute;
    width: 10rem;
    left: 5rem;
    top: 40rem;    
}

.hide{
    display: none;
}

.screen{
    z-index: 1;
    position: absolute;
    width: 9rem;
    top: 40.7rem;
    left: 5.3rem;
    filter: grayscale(100%);
}

#game-over{
    z-index: 0;
    position: absolute;
    height: 5rem;
    width: 7rem;
    top: 40.7rem;
    left: 5.5rem;
}