
.nav{
    display: flex;
    justify-content: space-between;
}

.fa-meteor{
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: ease-in-out 1s;

}

.fa-meteor:hover{
    color: rgba(244,189,48,255);
}

.links{
    margin-top: 1rem;
    display: flex;
    list-style: none;
    margin-right: 4rem;
    cursor: pointer;
    
}

.links a li{
    margin-left: 1.5rem;
    color: rgb(255, 255, 255);
    transition: ease-in-out 1s;

}

.links a li:hover{
    color: rgba(244,189,48,255);
    cursor: pointer;
}

a{
    text-decoration: none;
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: rgba(0, 0, 0, 0);
     color: rgba(0, 0, 0, 0);
     }