
.nav{
    display: flex;
    justify-content: space-between;
}

.fa-meteor{
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: ease-in-out 1s;

}

.fa-meteor:hover{
    color: rgba(244,189,48,255);
}

.links{
    margin-top: 1rem;
    display: flex;
    list-style: none;
    margin-right: 4rem;
    cursor: pointer;
    
}

.links a li{
    margin-left: 1.5rem;
    color: rgb(255, 255, 255);
    transition: ease-in-out 1s;

}

.links a li:hover{
    color: rgba(244,189,48,255);
    cursor: pointer;
}

a{
    text-decoration: none;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div{
    margin-top: 15%;
}